

.party_course_upload_containter{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  
}
.submit_party_btn{
    display: block;
    margin: 0 auto;
}
