

.party_course_upload_containter{
    display:flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  
}
.submit_party_btn{
    display: block;
    margin: 0 auto;
}
.party_goods_select{
    width: 20vw;
    margin-bottom: 20px;
}
