.change-panel {
  max-width: 1350px;
  padding-left: 30px;
  padding-top: 10px;
  .change-title {
    margin-bottom: 20px;
    .change-title-input {
      display: inline-flex;
      max-width: 1100px;
      margin-left: 10px;
    }
  }
  .change-introduction {
    margin-bottom: 20px;
    .change-introduction-input {
      display: inline-flex;
      max-width: 1100px;
      margin-left: 10px;
      vertical-align: top;
    }
  }
  .change-isPublish {
    margin-bottom: 20px;
    .change-tags-input {
      width: 100px;
      margin-left: 10px;
      margin-right: 20px;
    }
    .change-isPublish-input {
      display: inline-flex;
      margin-left: 10px;
    }
  }
  .change-picture {
    margin-bottom: 20px;
    .change-picture-input {
      display: inline-flex;
      margin-left: 10px;
      vertical-align: top;
    }
  }
  .change-content {
    display: inline-flex;
    max-width: 1200px;
    height: 360px;
  }
}